.list-container {
  width: 40vw;
  list-style-type: none;
  height: 120px;
  border-radius: 10px;
  border: 2px solid #ffffff;
  margin: 5px 10px 5px 10px;
  display: flex;
  background-color: #475569;
}
.logos {
  height: 70px;
  width: 70px;
}
